
@media only screen and (max-width: 1000px) {
    
    .modal-dialog {
        margin: 8px 0px 0px 0px;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .edit-modal {
        height: 100%;

    }
}