@import '../../styles/colors';

.view-more_container {
    position: relative;
    overflow: auto;
    min-height: 500px;
    .alert {
        width: 100%;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 9999;
    }

    .date-row {
        margin: 15px 0px 0px 0px;
        .left-btn, .date-picker, .right-btn {
            padding: 10px 5px 0px 5px;
        }

        .date-picker {          
            *{
                font-size: 20px;
                font-weight: 600;  
                text-align: center;
            }
        }

        .left-btn {
            text-align: right;
        }
    }

    // TODO: MAKE IT RESPONSIVE //
    .more-transactions {
        padding-top: 10px;
        overflow: auto;
        height: 75vh;
        padding: 5px 5px 0px 5px;

        .transaction {
            position: relative;
            max-width: 600px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 4px 8px 0 $box-shadow;
            padding: 10px;
            margin: 0px auto 10px auto;
            border: 1px solid #ECECEC;

            .field-col {
                padding: 0px;

                .row {
                    margin: 0;
                }
    
                .col {
                    padding: 0;
                }
    
                .desc {
                    .field-value {
                        text-transform: capitalize;
                    };
                }
    
                .location {
                    vertical-align: middle;
                    .map-btn {
                        padding: 0px 0px 0px 5px;
                        margin-top: -8px;
                    }
                }
    
                .field-desc {
                    color: $text-gray;
                    padding-right: 10px;
                }
    
                .type {
                    .field-value {
                        text-transform: capitalize;
                    }
                }
    
                .long-desc {
                    .field-value {
                        width: 60%;
                        word-wrap: normal;
                    }
                }
    
                .amount {
                    .field-value {
                        font-weight: 600;
                    }
    
                    .expense {
                        color: $red;
                    }
    
                    .profit {
                        color: $green;
                    }
                }
            }

            .btn-col {
                padding: 0px;

                .btn-row {
                    height: 100%;
                }
            }
        }
    }

    .no-transactions {
        padding: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        width: fit-content;
        position: absolute;
        text-align: center;
        bottom: 50%;

        .title-label {
            font-size: 18px;
            font-weight: 600;
        }

        .sub-label {
            color: $text-gray;
        }
    }
}