@import '../../styles/_colors.scss';

.main-container {

    .logo-row {
        background-image: linear-gradient($black, $charcoal);
        height: 40vh;

        img {
            margin: 10vh auto;    
            width: 100px;
            height: 100px;
        }
    }

    .login-row {
        margin: 0 auto 20px auto;
        width: 95%;
       

        .login-container { 
            position: relative;
            margin-top: -55px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

            .login-txt {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                font-size: 23px;
                font-weight: bold;
                color: $theme-blue;
                padding: 10px 10px 10px 10px;
                border-radius: 10px 10px 0 0;
            }
    
            .form-row {
    
                .form {
                    width: 100%;
            
                    .form-label {
                        color: $theme-blue;
                        font-size: 14px;
                        font-weight: bold;
                    }
            
                    .input-field {
                        padding: 20px;
                        font-size: 16px;
                        border-radius: 10px;
                    }
        
                }
            }
        
            .btn-row {
                width: 100%;
                margin: auto;
                text-align: center;
                padding-bottom: 15px;
                
        
                .login-btn {
                    margin: auto;
                    width: 85%;
                    font-size: 12px;
                    padding: 15px 0px 15px 0px;
                    border-radius: 20px;
                    font-weight: bold;
                }

                .icon {
                    margin-left:10px;
                    transform: scale(1.5);

                }
            }
        }
    }

    .forgot-row {
        margin: auto;
        width: fit-content;
        color: $light-blue;
        padding-bottom: 10px;
    }

    .signup-row {
        margin: auto;
        
        * {
            margin-bottom: 10px;
        }

        button {
            margin: auto;
            width: 80%;
            font-size: 14px;
            border-radius: 20px;
            font-weight: bold;
        }

        .email-btn {
            padding: 10px 0px 10px 0px;
        }
        
        .btn-icon {
            margin: 0px 10px 0px 0px;
        }
    }
    
    .alert {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        
        .heading {
            font-size: 16px;
        }
    }
}