@import '../../styles/_colors.scss';
@import '../../styles/alert';

.logo-row {
    background-image: linear-gradient($black, $charcoal);
    height: 40vh;
    display: flex;

    // For the signup page
    .goto-login-btn {
        position: absolute;
        left: 0;
        top: 0;

        .btn {
            font-weight: 600;
            text-decoration: none;
            color: white;
        }
    }

    img {
        margin: 10vh auto;    
        width: 100px;
        height: 100px;
    }
}

.login-container, .signup-container { 
    position: relative;
    margin-top: -60px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    .login-txt {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        color: $theme-blue;
        padding: 10px 10px 10px 10px;
        border-radius: 10px 10px 0 0;
    }

    .form-row {

        .form {
            width: 100%;
    
            .form-label {
                color: $theme-blue;
                font-size: 14px;
                font-weight: bold;
            }
    
            .input-field {
                padding: 20px;
                font-size: 16px;
                border-radius: 10px;
            }

        }
    }

    .btn-row {
        width: 100% !important;
        text-align: center;
        padding-bottom: 15px;
        

        .login-btn {
            margin: auto;
            width: 95%;
            font-size: 12px;
            padding: 15px;
            border-radius: 20px;
            font-weight: bold;
        }
    }

    // For the Signup Page
    .message-div {
        padding: 1rem;
        text-align: center;

        section {
            text-align: center;

            .title {
                font-weight: bold;
                color: $theme-blue;
                font-size: 1.6rem;
                width: 100%;
            }

            .error {
                font-weight: bold;
                color: $red;
                font-size: 1.6rem;
                width: 100%;
            }

            .subtitle {
                color: $text-gray;
                font-weight: 600;
            }
        }

        .btn { margin-top: 2rem; }
    }

    .information-form-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 20px auto;

        .stepper {
            display: flex;
            justify-content: space-evenly;
            width: 85%;
            height: fit-content;
            padding: 0.8rem 0 0 0;
    
            .dot {
                background-color: white;
                border: 2px solid $theme-blue;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                display: flex;
                font-size: 0.9rem;
                justify-content: center;
            }
    
            .active {
                background-color: $theme-blue;
                color: white;
                font-weight: 600;
            }
        }
    }
}

.forgot-row {
    margin: auto;
    width: fit-content;
    color: $light-blue;
    padding-bottom: 10px;
}

.signup-row {
    margin: auto;
    
    * { margin-bottom: 10px; }

    .email-btn {
        margin: auto;
        width: 80%;
        font-size: 14px;
        border-radius: 20px;
        font-weight: bold;
        padding: 10px 0px 10px 0px;
    }
}

@media only screen and (min-width: 700px) {
    .logo-row {
        img {
            width: 150px;
            height: 150px
        }
    }
}