@import '../../../styles/colors';

.form-row {
    justify-content: space-around;
    width: 90%;
    margin: 1rem 0 0 0;

    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;

        .section-title {
            text-align: center;
            font-size: 23px;
            font-weight: bold;
            color: $theme-blue;
        }

        .section-subtitle {
            font-weight: 600;
            color: $text-gray;
            margin: 0 auto;
        }
    }

    .form {
        width: 100%;
        .form-group {
            padding-bottom: 0px;

            .form-label {
                margin-bottom: 0;
            }

            .input-field {
                margin-bottom: 0;
            }

            .invalid-feedback {
                margin-bottom: 0px !important;
            }
        }
        
        .double-field {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0 !important;
            padding-bottom: 10px;

            div {
                margin-bottom: 0 !important;
            }

            div:nth-of-type(1) {
                width: 60%;
            }

            div:nth-of-type(2) {
                width: 35%;
            }
        }
    }
}

.spinner-signup {
    margin:  5px 0px !important;
}

.signup-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    width: 100% !important;

    .btn {
        width: 40% !important;
    }
}

.user-portfolios {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.user-categories {
    width: 100%;
    border: 2.5px solid $border-light;
    overflow: auto;
    height: 200px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(240, 240, 240);

    section:not(:last-child){
        border-bottom: 1px solid $border-light; 
    }

    section {
        display: flex;
        justify-content: space-between;

        .delete-btn {
            width: 30px;
            height: 30px;
            padding: 0;
            margin: 0 !important;
        }
    }
}

.portfolio-plus-btn {
    margin-bottom: 20px;
    padding: 0px 12px !important;
    width: 40px !important; 
    height: 40px !important;
    border-radius: 50% !important
}

.add-category {
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    margin-bottom: 10px;

    .portfolio-plus-btn {
        margin-bottom: 0px !important;
    }

    .form-label {
        color: $theme-blue;
        font-weight: bold;
    }

    .form-group {
        margin-bottom: 0px !important;
    }
}

@media only screen and (min-width: 400px) {
    .category-form-group { width: 80% }
}