@import '../../styles/colors';

.scrollable-container {
    padding: 0;

    .scrollable-table {
        height: 250px !important;        

        .table-header {
            *{ font-weight: bold; font-size: 15px}
        }
    }

    .earning {
        color: $green
    }
    .spending {
        color: $red
    }

    .no-transactions {
        display: flex;
        flex-direction: column;
        background-color: $border-light;
        padding: 30px;
        width: 100%;
        height: 100% !important;
        text-align: center;

        .title-label {
            font-size: 18px;
            font-weight: bold;
        }

        .sub-label {
            font-weight: 400;
        }
    }
    
}

@media only screen and (max-height: 700px) {
    .scrollable-container {
      .scrollable-table {
            height: 120px !important;
        }  
    }
}

@media only screen and (min-height: 800px) {
    .scrollable-container {
        .scrollable-table {
            height: 300px !important;
        }  
    }
}

@media only screen and (min-height: 900px) {
    .scrollable-container {
        .scrollable-table {
            max-height: 480px !important;
            min-height: fit-content !important;
        }  
    }
}
