$theme-blue: #0069D9;
$text: #646464;
$black: #1b1b1e;
$charcoal: #373f51;
$blue: #58a4b0;
$light-blue: #a9bcd0;
$gainsboro: #d8dbe2;
$box-shadow: #00000033;
$border-light: #D8D8D8;
$green: #3C800F;
$red:  #D32A17;
$text-gray: #AAAAAA;