@import '../../styles/colors.scss';

.layout-container {

    .user-row {
        position: relative;
        background-color: $gainsboro;

        .user-btn {
            margin: 10px;

            .user-name {
                margin-bottom: 0;
                padding-right: 5px;
            }
        }
    }
    
    .scrollable {
        overflow: auto;
    }
}