.home-container {
    margin: 0px auto;
    width: 100%;

    .btn-container {
        width: 100%;
        margin: 15px auto;
        padding: 0px;
        height: 44px;
        display: flex;
        justify-content: space-around;

        .transaction-btn {
            width: 45%;
            border-radius: 20px;
            font-size: 20px;
            height: 44px;
        }
    }
}

@media only screen and (max-width: 800px) {

    .home-container {
        .btn-container {
            .transaction-btn {
                font-size: 15px;
            }
        }
    }
  }