@import '../../styles/colors.scss';

.amount-container {
    text-align: center;
    padding: 0px 10px;

    .earnings-col, .spendings-col {
        border: 1px solid $border-light;
        border-radius: 15px;
        padding: 0px 20px;
        margin:  0px 10px 0px 10px;
        height: fit-content;

        * {
            font-size: 20px;
            display: block;
        }

        .s-tot, .e-tot { font-weight: bold; }
        .comp { color: $text-gray; }
        .s-tot { color: $red; }
        .e-tot { color: $green; }
    }

    .total-row {
        border: 1px solid $border-light;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
        margin: 10px auto 10px auto;
        display: flex;
        justify-content: space-around;

        * { font-size: 20px; }
        .tot-sum { font-weight: bold; }
    }
}