@import '../../styles/colors';

.list-container {
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    text-align: center;
    padding: 0px 0px 5px 0px;
    overflow: auto;
    max-height: 220px !important;
    min-height: 220px !important;

    .list-table {
        .headers-row {
            th { 
                padding: 6px 12px 6px 12px !important;
            }
           
        }
    }

    .earning {
        color: $green;
    }

    .spending {
        color: $red;
    }
}

@media only screen and (max-height: 700px) {
    .list-container {
        max-height: 120px !important;
        min-height: 120px !important;
    }
}

@media only screen and (min-height: 800px) {
    .list-container {
        max-height: 300px !important;
        min-height: 300px !important;
    }
}

@media only screen and (min-height: 900px) {
    .list-container {
        max-height: 480px !important;
        min-height: 480px !important;
    }
}