@import '../../../styles/colors';

.new-modal {

    .new-form {
        .btn-row {
            .psw-btn {
                width: 100%;
                border-radius: 20px;
            }
        }
    }
    .row {
        margin: 0px;
    }

    .col {
        padding-left: 0px;
    }

    .my-col {
        line-height: 2;
        padding: 25px 0px 25px 0px;
    }

    .center-btns {
        justify-content: space-evenly;
    }
}