@import '../../../styles/colors';

.password-modal {

    .pswd-form {
        .btn-row {
            .psw-btn {
                width: 100%;
                border-radius: 20px;
            }
        }
    }
    .row {
        margin: 0px;
    }

    .col {
        padding-left: 0px;
    }

    .center-btns {
        justify-content: space-evenly;
    }
}