@import '../../styles/colors';

.portfolio_container {
    overflow: auto;
    height: 88vh;

    .portfolio-btn {
        margin: 10px 0px;
        width: 100%;
        border-radius: 15px;
        font-size: 18px;
    }
    
    .alert {
        width: 100%;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 9999;
    }

    .no-transactions {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
        width: 100%;
        height: 220px !important;
        background-color: #c7c7c7;
        border-radius: 20px;

        .title-label {
            font-size: 1.5em;
            font-weight: 600;
        }

        .sub-label {
            color: rgb(80, 80, 80);
            font-weight: 600;
        }
    }
}