@import '../../styles/colors.scss';

.my_nav {
    display: inline;
    justify-content: space-between;
    background-color: $black !important;

    .link {
        color: white;
        display: block;
        margin: 5px;

        .link-desc {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:active, &:focus {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
            color: $light-blue;
        }

        .icon {
            margin-right: 10px;
        }
    }

    .selected {
        transform: scale(1.4);
        color: $blue !important;
        font-weight: bold;
    }
}