@import '../../styles/colors.scss';

.my-navbar {
    display: flex;
    justify-content: space-between;
    background-color: $black !important;
    padding: 0px;
    height: 5vh;

    .my-nav {
        flex-grow: 1;
    }

    .link {
        color: white;
        display: block;
        padding: 10px;

        .link-desc {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:active, &:focus {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }

        .icon {
            margin-right: 10px;
        }
    }

    .selected {
        color: white;
        background-color: $theme-blue;
        font-weight: bold;
    }
}