.transaction-container {
    width: fit-content;
    overflow: hidden;
    margin: 10px auto;

    .pad-container {
        padding:  5px 10px;

        .title {
            padding-bottom: 10px;
        }
    }
}