@import '../../styles/colors';

.card-container {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 $box-shadow;
    text-align: center;
    padding: 0px;
    border: 1px solid #ECECEC;

    .title {
        padding: 10px 10px 0px 10px;
        text-align: left;
        border-radius: 10px 10px 0px 0px;
        h5 { 
            font-weight: normal;
        }
    }
    
}