@import '../../styles/colors';

.card-container {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    padding: 0px;

    .title {
        background-color: $black;
        padding: 5px;
        border-radius: 10px 10px 0px 0px;
        color: white;
    }
    
}